<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Olin to-go container coin ATM
        </h1>
        <p>An experiment on remote hardware development.</p>
      </header>
      <p></p>
      <ul class="actions">
        <!-- <li><a href="#" class="button big">Learn More</a></li> -->
      </ul>
    </div>
    <span class="image object">
      <img src="/assets/images/ozzi.jpg" alt="" />
    </span>
  </section>
