<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

{% include head.html %}

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                {% include header.html %}

                <!-- Content -->
                <section>
                	<header class="main">
                		<h1>{{ page.title }}</h1>
                  {% if page.date %}
                    <h2>{{ page.date | date: "%b %-d, %Y" }}</h2>
                  {% endif %}
                  </header>


                  {% if page.image %}
                	<span class="image main"><img src="{{ page.image | absolute_url }}" alt="" /></span>
                  {% endif %}

                {{ content }}

              </div>
          </div>

          {% include sidebar.html %}

      </div>

      {% include footer.html %}

</body>

</html>
